@charset "utf-8";
/* CSS Document */

.main{
	margin:0;
	padding:0;
	width:800px;
	height:400px;
	}

#body1{
	
	background-color:#F3F3F3}
#img1{
	margin:0;
	padding:0;
	width:20px;
	height:20px;
	align-content:center;
	}	
#h4 {color:white}
#p1 {color:white}

#aboutme{
	margin:0;
	padding:0;
	width:1800px;
	height:120px;
	
	}	
#NIIT{
	margin:0;
	padding:0;
	width:400px;
	height:600px;
	align-content:center;
	}
 #page ul{
	 margin:0;
	 padding:0;
	 line-height:40px;
	 }
	 
#heading{
	margin:0;padding:0;
	height:50px;
	width:300px;
	align-content:center;
	background-color:#E9E9E9;
	border:medium;
	border-bottom-left-radius:50px;
		border-bottom-right-radius:50px;
	border-top-right-radius:50px;
	border-top-left-radius:50px;
	color:#0A0606;
	}
	 
a:link {
	text-decoration: none;
    color: #1317D7;
}

/* visited link */
a:visited {
	text-decoration: none;
    color: #070101;
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: #E51818;
}

/* selected link */
a:active {
text-decoration: none;
    color: #0000FF;
}